<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../../assets/css/base.css">
	<script>
		window.onload=function (){
			let btn = document.getElementsByClassName('confirm_disable')[0]
			btn.addEventListener('click',function(){
				console.log('@@@@@@@@@@@@click')
			})
		}
	</script>
</head>

<body>

	<h2 class="guide-tit">버튼</h2>

	<ul class="guide-list">
		<li>
			<!-- 실제 코드 영역 -->
			<button class="btn_large yellow">확인</button>
			<button class="btn_large gray">취소</button>
			<button class="btn_large disable" disabled>확인</button>
			<button class="btn_large_padding_20">글자가길어질경우양옆20px Padding</button>
			<!--// 실제 코드 영역 -->
		</li>
		<li>
			<!-- 실제 코드 영역 -->
			<button class="btn yellow">확인</button>
			<button class="btn gray">확인</button>
			<button class="btn disable">확인</button>
			<button class="btn border">조회</button>
			<!--// 실제 코드 영역 -->
		</li>
		<li>
			<!-- 실제 코드 영역 -->
			<button class="btn_small border_radius_18">거래내역</button>
			<button class="btn_small brown">필터</button>
			<button class="btn_small filter_white">필터</button>
			<button class="btn_small day_selected">당일</button>
			<button class="btn_small day_nonselected">당일</button>
			<button class="btn_small memo"><img src="./" alt="">메모장</button>
			<!-- text button -->
			<button class="btn_text text_14">text btn</button>
			<button class="btn_text text_16">text btn</button>
			<button class="btn_text text_18">text btn</button>
			<!--// 실제 코드 영역 -->
		</li>
	</ul>
	<h2 class="guide-tit">Elements</h2>
	<ul class="guide-list elements">
		<li>
			<!--// 실제 코드 영역 -->
			<input type="checkbox" id="checkbox_checked">
			<input type="checkbox" id="checkbox_unchecked">
			<input type="checkbox" id="checkbox_disable" disabled>
			<!--// 실제 코드 영역 -->
		</li>
		<li>
			<!--// 실제 코드 영역 -->
			<input type="radio" id="radio_checked">
			<input type="radio" id="radio_unchecked">
			<input type="radio" id="radio_disable" disabled>
			<label for="radio_txt" id="radio_txt_wrap">
				<input type="radio" id="radio_txt">
				<span>전체</span>
			</label>
			<!--// 실제 코드 영역 -->
		</li>
		<li>
			<!--// 실제 코드 영역 -->
			<input type="text" name="text_field" id="text_field" placeholder="Placeholder">
			<label for="search_txt" id="search_txt_wrap">
				<input type="search" name="search_txt" id="text_field" placeholder="Placholder">
				<button class="search_btn">검색</button>
			</label>
			<input type="text" name="text_field" id="text_field" class="disable" placeholder="Placeholder" disabled>
			<!--// 실제 코드 영역 -->
		</li>
		<li class="select_wrap">
			<!--// 실제 코드 영역 -->
			<form action="#" method="get" id="select_box">
				<fieldset>
					<legend class="delete">선택영역</legend>
					<select name="selectbox" id="select_box_txt">
						<option value="placeholder">Placeholder</option>
					</select>
				</fieldset>
			</form>
			<form action="#" method="get" id="select_box" class="select_box_disable" disabled>
				<fieldset>
					<legend class="delete">선택영역</legend>
					<select name="selectbox" id="select_box_txt">
						<option value="placeholder">Disable</option>
					</select>
				</fieldset>
			</form>
			<form action="#" method="get" id="select_box_small">
				<fieldset>
					<legend class="delete">선택영역</legend>
					<select name="" id="select_box_txt">
						<option value="placeholder">전체</option>
					</select>
				</fieldset>
			</form>

			<!--// 실제 코드 영역 -->
		</li>
	</ul>
	<ul class="guide-list">
		<li>
			<span class="input-box">
				<input type="radio" id="radio-1-1" name="radio-1" >
				<label for="radio-1-1">radio-1-1</label>
			</span>
			<span class="input-box">
				<input type="radio" id="radio-1-2" name="radio-1" >
				<label for="radio-1-2">radio-1-2</label>
			</span>
			<span class="input-box hide">
				<input type="radio" id="radio-1-3" name="radio-1" >
				<label for="radio-1-3">
					<span class="blind">radio-1-3</span>
				</label>
			</span>

			<label for="">
				<input type="radio" id="" name="radio-2" >
				<span class="txt">radio-2-1</span>
			</label>

			<label for="">
				<input type="radio" id="" name="radio-2" >
				<span class="txt">radio-2-2</span>
			</label>
		</li>
	</ul>
</body>
</html>