@charset "UTF-8";

/* z-index,position,position-속성,display,margin,padding,width,height,border, */
/* 버튼 */

/* btn_sol */
.btn_primary {padding:14px 16px; height:56px; background:#005df9; font-size:20px; font-weight:600; border-radius:8px; color:#fff;}
.btn_primary.type-gray{background:#e7edf6;color:#242a34;}
.btn_primary:disabled {background:#E7EDF6; color:#8B95A9;}
/* pressed */
.pressed {padding:14px 16px; min-width:335px; height:56px; background:#0047e7; font-size:20px; border-radius:8px; color:#fff; }
.pressed_163 {padding:14px 16px; min-width:136px; height:56px; background:#0047e7; font-size:20px;  border-radius:8px; color:#fff; }
.pressed_163_g {padding:14px 16px; min-width:136px; height:56px; background:#e7edf6; font-size:20px;  border-radius:8px; color:#242A34; }
.pressed_radius_12_g {padding:14px 16px; min-width:115px; height:56px; background:#e7edf6; font-size:20px; border-radius:12px; color:#242A34; }
.pressed_radius_12 {padding:14px 16px; min-width:212px; height:56px; background:#0047e7; font-size:20px; border-radius:12px; color:#fff; }


/* secondary */
.btn_secondary {padding:0 16px; min-width:335px; height:48px; border:1px solid #DCE2ED; border-radius:8px; }
.btn_secondary img + .txt{}
.btn_secondary .txt + img{}
.default_blue {border:none; background:#E5EEFF; color:#005df9;}

.accent_blue_335 {padding:14px 16px; background:#005DF9; color:#fff;}
.accent_sky {min-width:163px; background:#CDE0FF; color:#005DF9;}
.accent_blue {min-width:163px; background:#005DF9; color:#fff;}
.accent_disabled {min-width:163px; background:#DCE2ED; color:#242A34;}
.btn_secondary:disabled {background:#DCE2ED; color:#242A34;}
.accent_check {background:#E5EEFF; color:#005DF9;}
.accent_check:disabled {background:#E7EDF6; color:#8B95A9;}

/* medium_40 */
.btn_secondary_m {padding:0 16px; min-width:335px; height:40px; border:1px solid #DCE2ED; border-radius:8px;}
/* card_list */
.btn_secondary_card_list {min-width:333px; height:44px; border:none; background:#F3F6FB;color:#242A34;}
.btn_secondary_card_list_small {min-width:333px; height:44px; border:none; background:#F3F6FB; color:#242A34;}

/* text button */
.text_icon {color:#576072; display:flex; align-items:center;}
.text_icon > img {margin-left:4px;}
.size_14 {font-size:14px;}
.size_16 {font-size:16px;}

.txt_underline {}
.txt_underline::after {content: ''; display: block; width: 100%; height: 1px; background:#121315;
}
.line_tabs_wrap::after {content: ''; display: block; width: 100%; height:2px; background:#E7EDF6;
}
.size_14_blue {font-size:14px; color:#005DF9;}
.size_14_blue.size_16_blue::after {content: ''; display: block; width: 100%; height: 1px; background: #005DF9; }
.size_16_blue {font-size:16px; color:#005DF9;}
.size_16_blue::after {content: ''; display: block; width: 100%; height: 1px; background: #005DF9; 
}
.size_16:disabled {color:#8B95A9;}
.size_16:disabled::after {content: ''; display: block; width: 100%; height: 1px; background:#8B95A9;}

/* option button */
.main_all_menu {padding:0 6px; height:24px; min-width:49px; border:1px solid #C7CEDC; border-radius:4px; font-size:13px; color:#576072;}

/* input button */
.cert_btn {padding:0 5px; min-width:63px; height:32px; line-height:30px; border:1px solid #dce2ed; border-radius:6px; font-size:14px;}
.cert_btn:disabled {background:#F3F6FB; color:#8B95A9;}
/* option button 32 */
.option_icon_btn_wrap {display:flex; flex-flow: row nowrap;}
.option_icon_btn {display:flex; align-items:center; padding:0 12px; min-width:48px; height:48px; border-radius:8px; border:1px solid #dce2ed; vertical-align:middle;}
.plus_btn_blue {border:1px solid #005DF9;}

.clear_btn {border:1px solid #DCE2ED; color:#242A34;}
.clear_btn:disabled {color:#8B95A9; background:#F3F6FB;}
.clear_btn_blue {color:#005DF9; border:1px solid #005DF9;}

.option_btn_32 {padding:0 6px; min-width:40px; height:32px; border-radius:8px; font-size:14px;}
.limit_blue {background:#EFF5FF; color:#2670ff;}
.default_blue_type2 {border:none; background:#005DF9; color:#fff;}
.option_btn_40 {padding:0 14px; min-width:56px; height:40px; border-radius:8px; border:1px solid #dce2ed; font-size:14px;}






/* tabs */
.line_tabs_area {display:flex; border-bottom:2px solid #E7EDF6; height:48px;}
.line_tabs {width:100%; text-align:center;}
.line_tabs > input[type="radio"] {appearance:none; height:48px; font-weight:600;}
.line_tabs > input[type="radio"] + label {display:inline-block; min-width:63px; line-height:46px; color:#576072; }
.line_tabs > input[type="radio"]:checked + label::after {content:'';  display:block; height:2px; background:#121315 ;}
/* 2tabs */
/* 3tabs */
/* 4tabs */







/* 조회기간 버튼 */
.period {}
.period input[type="radio"] {appearance: none; } 
.period input[type="radio"] + label {display:inline-block;   width:45px; line-height:28px; height:30px; border-radius:5px; border:1px solid #CCCCCC; font-size:14px; text-align:center; } 
.period input[type="radio"]:checked + label {border:1px solid #60584D;}

.date {}
.date input {padding-left:20px; width:200px; height:40px; border:1px solid #cccccc; border-radius:5px; background:url(../images/icon-24-comm-calendar.png) no-repeat 166px center;}
.date-area .unit{margin:0 10px;}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

/* 조회내용 */
.detail + .detail{margin-left:20px;}
.detail {position:relative; display:inline-block; padding-left:34px;}
.detail input[type="radio"] {appearance: none;}
.detail input[type="radio"] + label{display:inline-block; line-height:24px;}
.detail input[type="radio"] + label:before{position:absolute; top:0; left:0; content:'';display:block;width:22px;height:22px;border-radius:50%; border:1px solid #666; }
.detail input[type="radio"]:checked + label:before {width:20px;height:20px; border:2px solid #ffd800; }
.detail input[type="radio"]:checked + label:after {position:absolute; top:5px; left:5px; content:'';display:block; width:14px; height:14px; background:#ffd800; border-radius:50%;}

.btn_large {
	width: 240px;
	height: 58px;
	border-radius: 5px;
	font-size: 18px;

}

.btn_large_padding_20 {
	padding: 0 20px;
	background: #ffd800;
	font-size: 18px;
	height: 58px;
	border-radius: 5px;
	border: 0;
}

.btn {
	padding: 0 20px;
	width: 200px;
	height: 48px;
	border-radius: 5px;
	font-size: 18px;
}

.btn_small {
	font-size: 14px;
}

.yellow {
	background: #ffd800;
	border: 1px solid #ffd800;
}

.gray {
	background: #cccccc;
	border: 1px solid #cccccc;
}

.disable {
	background: #000;
	border: 1px solid #000;
	color: #919191;
}


.border {
	background: #ffffff;
	border: 1px solid #60584d;
	border-radius: 5px;
}

.border_radius_18 {
	padding: 0 16px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #60584d;
	border-radius: 18px;
}

.history {
	width: 81px;
	height: 30px;
	font-size: 14px;
	border-radius: 18px;
	background: #ffffff;
	border: 1px solid #60584d;
}

.brown {
	width: 68px;
	height: 40px;
	background: #60584d;
	border-radius: 5px;
	border: 0;
	color: #fff;
}

.filter_white {
	width: 68px;
	height: 40px;
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #60584d;
}

.day_selected {
	font-size: 14px;
	width: 45px;
	background: #ffffff;
	height: 30px;
	border: 1px solid #60584d;
	border-radius: 5px;
}

.day_nonselected {
	font-size: 14px;
	width: 45px;
	background: #ffffff;
	height: 30px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	color: #60584d;
}

.memo {
	font-size: 14px;
	width: 77px;
	height: 30px;
	background: #fff;
	border: 1px solid #afafaf;
	border-radius: 2px;
}

.btn_text {
	border: 0;
	background: none;
}

.btn_text::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #222222;
}

.text_14 {
	font-size: 14px;
}

.text_16 {
	font-size: 16px;
}

.text_18 {
	font-size: 18px;
}

/* elements */
.elements input {
	width: 24px;
	height: 24px;
	appearance: none;
	background-repeat: no-repeat;

}

#checkbox_checked {
	background-image: url(../images/check-box-on.png);
}

#checkbox_unchecked {
	background-image: url(../images/check-box-off.png);
}

#checkbox_disable {
	background-image: url(../images/check-box-disable.png);
}

#radio_checked {
	background-image: url(../images/radio-on.png);
}

#radio_unchecked {
	background-image: url(../images/radio-off.png);
}

#radio_disable {
	background-image: url(../images/radio-disable.png);
}

#radio_txt_wrap span {
	padding-left: 34px;
	line-height: 24px;
	background: url(../images/radio-off.png) no-repeat 0;
}

#radio_txt:checked+span {
	background: url(../images/radio-on.png) no-repeat 0;
}

#text_field {
	padding-left: 20px;
	width: 200px;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	line-height: 24px;
}

.disable {
	background: #f8f8f8;
	border: 1px solid #000;
}

.delete {
	display: none;
}

#select_box::placeholder {
	color: #919191;
}

.select_box {
	width: 200px;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	appearance: none;
	background:url(../images/icon-16-comm-arrowdown.png) no-repeat 174px center;
}

/* radio */
.input-box{position:relative; display:inline-block; padding-left:34px; outline:1px solid red;}
.input-box.hide{padding-left:24px; line-height:24px;}
.input-box input[type="radio"] {appearance: none;}
.input-box input[type="radio"] + label{display:inline-block; line-height:24px;}
.input-box input[type="radio"] + label.hide{height:24px;}
.input-box input[type="radio"] + label:before{position:absolute; top:0; left:0; content:'';display:block;width:22px;height:22px;border-radius:50%; border:1px solid #666; }
.input-box input[type="radio"]:checked + label:before {width:20px;height:20px; border:2px solid #ffd800; }
.input-box input[type="radio"]:checked + label:after {position:absolute; top:5px; left:5px; content:'';display:block; width:14px; height:14px; background:#ffd800; border-radius:50%; }

.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

label.input-box2 {position:relative; display:inline-block; padding-left:34px; outline:1px solid blue;}
label.input-box2 .txt {line-height: 24px;}
label.input-box2 .txt:before {position:absolute; top:0; left:0; content:''; display:block; width:22px; height:22px; border-radius:50%; border:1px solid #666;}
label.input-box2 input[type="radio"] {appearance: none;}
label.input-box2 input[type="radio"]:checked .txt{color:red;}
label.input-box2 input[type="radio"]:checked + .txt:before { width:20px; height:20px; border:2px solid #ffd800; }
label.input-box2 input[type="radio"]:checked + .txt:after { position:absolute; top:5px; left:5px; content:'';display:block; width:14px; height:14px; background:#ffd800; border-radius:50%;}



