<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/assets/css/base.css">
</head>

<body>
	<!-- header -->
	<header class="header"></header>
	<!--// header -->

	<!-- container -->
	<div class="container">

		<!-- 실제 작업 영역 -->
		<div class="contents pageId">

		</div>
		<!--// 실제 작업 영역 -->
	</div>
	<!--// container -->

	<!-- footer -->
	<div class="footer"></div>
	<!--// footer -->

	<!-- popup -->
	<div class="pop-area"></div>
	<!--// popup -->
</body>

</html>